@using InventoryManagementSystem.Web.ViewModels
@model ProductVM

<div class="w-100 card border-0 p-2 mt-1">
    
    <div class="card-header d-flex justify-content-between align-items-centerbg-gradient" style="background-color : #16325B">
        <h5 class="text-white fw-bold mb-0">Product List</h5>
        <a asp-controller="Product" asp-action="Add" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add
        </a>
    </div>

    <div class="card-body border">
        <form class="w-100" method="get" action="/Product/Index" id="searchForm">
        <div class="row">
            <div class="col-md-2 mb-2">
                <input type="text" class="form-control" placeholder="Name" name="Name" value="@Model.QueryParameters.Name" />
            </div>

            <!-- Hidden fields for sorting -->
            <input type="hidden" name="SortOrder" id="sortOrder" value="@Model.QueryParameters.SortOrder" />
            <input type="hidden" name="SortColumn" id="sortColumn" value="@Model.QueryParameters.SortColumn" />

            <div class="col-md-1 mb-2">
                <button type="reset" class="btn btn-outline-danger w-100 text-black" onclick="clearFilters()">
                    <span><i class="bi bi-x-circle"></i></span>
                </button>
            </div>
            <div class="col-md-2 mb-1">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary">
                    Back
                </a>
            </div>
            <div class="col-md-1 d-flex justify-content-end align-items-center mb-2">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Photo</span>
                        </div>
                    </th>
                    <th class="text-center align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Name</span>
                            <div class="d-flex flex-column align-items-center px-2">
                                <a href="#" class="text-dark btn btn-outline-prinmary" onclick="setSort('name', 'asc')"><i class="bi bi-caret-up"></i></a>
                                <a href="#" class="text-dark btn btn-outline-prinmary" onclick="setSort('name', 'dsc')"><i class="bi bi-caret-down"></i></a>
                            </div>
                        </div>
                    </th>
                    <th class="text-center align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Category</span>
                        </div>
                    </th>
                    <th class="text-center align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Price</span>
                            <div class="d-flex flex-column align-items-center px-2">
                                <a href="#" class="text-dark btn btn-outline-prinmary" onclick="setSort('price', 'asc')"><i class="bi bi-caret-up"></i></a>
                                <a href="#" class="text-dark btn btn-outline-prinmary" onclick="setSort('price', 'dsc')"><i class="bi bi-caret-down"></i></a>
                            </div>
                        </div>
                    </th>
                    <th class="text-center align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Stock Level</span>
                            <div class="d-flex flex-column align-items-center px-2">
                                <a href="#" class="text-dark btn btn-outline-prinmary" onclick="setSort('stockLevel', 'asc')"><i class="bi bi-caret-up"></i></a>
                                <a href="#" class="text-dark btn btn-outline-prinmary" onclick="setSort('stockLevel', 'dsc')"><i class="bi bi-caret-down"></i></a>
                            </div>
                        </div>
                    </th>
                    
                    <th class="text-center align-middle">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            
            
            <tbody>
                @foreach (var obj in Model.ProductsPaged.Items)
                {
                    <tr>
                        <td class="text-center align-middle">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="@obj.ImageUrl" style="width: 55px; height: 60px; border: 1px solid #bbb9b9;" />
                            </div>
                        </td>
                        <td class="text-center align-middle">@obj.Name</td>
                        <td class="text-center align-middle">@obj.Category.Name</td>
                        <td class="text-center align-middle">@obj.Price</td>
                        <td class="text-center align-middle">@obj.StockLevel</td>
                        <td class="text-center align-middle">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="Edit" asp-route-ProductId="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@obj.Id">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>



        <div class="row">
            <div class="col-md-6">
                <p>Showing @(Model.ProductsPaged.PageIndex) out of @(Model.ProductsPaged.TotalPages)</p>
                
            </div>
            <div class="col-md-6">
                

                <nav>
                    <ul class="pagination justify-content-end">
                        <li class="page-item @(Model.ProductsPaged.PageIndex == 1 ? "disabled" : "")">
                            <a class="page-link text-black" asp-route-pageNumber="1">
                                <span> << </span>
                            </a>
                        </li>

                        <li class="page-item @(Model.ProductsPaged.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link text-black" asp-route-pageNumber="@(Model.ProductsPaged.PageIndex - 1)"
                               >
                                <span> < </span>
                            </a>
                        </li>

                        @for (int i = 1; i <= Model.ProductsPaged.TotalPages; i++)
                        {
                            <li class="page-item @(Model.ProductsPaged.PageIndex == i ? "active" : "")">
                                <a class="page-link text-black" asp-route-pageNumber="@i">@i</a>
                            </li>
                        }

                        <li class="page-item @(Model.ProductsPaged.HasNextPage ? "" : "disabled")">
                            <a class="page-link text-black" asp-route-pageNumber="@(Model.ProductsPaged.PageIndex + 1)">
                                <span> > </span>
                            </a>
                        </li>
                        <li class="page-item @(Model.ProductsPaged.PageIndex == Model.ProductsPaged.TotalPages ? "disabled" : "")">
                            <a class="page-link text-black" asp-route-pageNumber="@Model.ProductsPaged.TotalPages">
                                <span> >> </span>
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>



    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="/Product/Delete">
                    <input type="hidden" name="id" id="deleteId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var deleteInput = document.getElementById('deleteId');
            deleteInput.value = id;
        });

        function setSort(column, order) {
            document.getElementById('sortColumn').value = column;
            document.getElementById('sortOrder').value = order;
            document.getElementById('searchForm').submit(); 
        }

        function clearFilters() {
            document.querySelector("form").reset();
        }
    </script>
}