@using InventoryManagementSystem.Data.Enums
@using InventoryManagementSystem.Web.ViewModels
@model PurchaseOrderVM

<div class="w-100 card border-0 p-2 mt-1">

    <div class="card-header d-flex justify-content-between align-items-centerbg-gradient" style="background-color : #16325B">
        <h5 class="text-white fw-bold mb-0">Supply Order List</h5>
    </div>

    <div class="card-body border">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center align-middle">
                        <span>PO Date</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>PO Code</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Pruchaser</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Supplier</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Total Amount</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Status</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Details</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.PurchaseOrderList)
                {
                    <tr>
                        <td class="text-center align-middle">@obj.CreatedAt</td>
                        <td class="text-center align-middle">@obj.POCode</td>
                        <td class="text-center align-middle">@obj.Purchaser.FullName</td>
                        <td class="text-center align-middle">@obj.Supplier.FullName</td>
                        <td class="text-center align-middle">@obj.TotalCost</td>
                        <td class="text-center align-middle">
                            @if (obj.Status == OrderStatus.Pending)
                            {
                                <button type="button"
                                        class="btn btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#CancelModal"
                                        data-id="@obj.Id">
                                    <span class="badge bg-secondary">Pending</span>
                                </button>
                            }
                            else if (obj.Status == OrderStatus.Delivered)
                            {
                                 <span class="badge bg-warning">Delivered</span>
                            }
                            else if (obj.Status == OrderStatus.Verified)
                            {
                                <span class="badge bg-success"> Verified </span>
                            }
                            else if (obj.Status == OrderStatus.Canceled)
                            {
                                <span class="badge bg-danger"> Canceled </span>
                            }

                        </td>
                        <td class="text-center align-middle">
                            <a asp-controller="PurchaseOrder" asp-action="OrderDetails" asp-route-OrderId="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="CancelModal" tabindex="-1" aria-labelledby="CancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CancelModalLabel">Action Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel or deliver this purchase order?
            </div>
            <div class="modal-footer">
                <form id="actionForm" method="post" action="">
                    <input type="hidden" name="id" id="CancelId" />
                    <button type="submit" class="btn btn-danger" formaction="/Supplier/CancelPO">Cancel Order</button>
                    <button type="submit" class="btn btn-warning" formaction="/Supplier/DeliverPO">Deliver Order</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var CancelModal = document.getElementById('CancelModal');
        CancelModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var deleteInput = document.getElementById('CancelId');
            deleteInput.value = id;
        });
    </script>
}