@using InventoryManagementSystem.Data.Enums
@using InventoryManagementSystem.Web.ViewModels
@model SalesOrderVM

<div class="w-100 card border-0 p-2 mt-1">

    <div class="card-header d-flex justify-content-between align-items-centerbg-gradient" style="background-color : #16325B">
        <h5 class="text-white fw-bold mb-0">Sales Order List</h5>
        <a asp-controller="SalesOrder" asp-action="Add" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add
        </a>
    </div>

    <div class="card-body border">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center align-middle">
                        <span>SO Date</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>SO Code</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Salesman</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Consumer</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Total Amount</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Status</span>
                    </th>
                    <th class="text-center align-middle">
                        <span>Details</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.SalesOrderList)
                {
                    <tr>
                        <td class="text-center align-middle">@obj.CreatedAt</td>
                        <td class="text-center align-middle">@obj.SOCode</td>
                        <td class="text-center align-middle">@obj.Salesman.FullName</td>
                        <td class="text-center align-middle">@obj.Consumer.FullName</td>
                        <td class="text-center align-middle">@obj.TotalCost</td>
                        <td class="text-center align-middle">
                            @if (obj.Status == OrderStatus.Pending)
                            {
                                <button type="button"
                                        class="btn btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#CanceilModal"
                                        data-id="@obj.Id">
                                    <span class="badge bg-secondary">Pending</span>
                                </button>
                            }
                            else if (obj.Status == OrderStatus.Delivered)
                            {
                                <button type="button"
                                        class="btn btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#VerifyModal"
                                        data-id="@obj.Id">
                                    <span class="badge bg-warning">Delivered</span>
                                </button>
                            }
                            else if (obj.Status == OrderStatus.Verified)
                            {
                                <span class="badge bg-success"> Verified </span>
                            }
                            else if (obj.Status == OrderStatus.Canceiled)
                            {
                                <span class="badge bg-danger"> Canceiled </span>
                            }
                            
                        </td>
                        <td class="text-center align-middle">
                            <a asp-controller="SalesOrder" asp-action="OrderDetails" asp-route-OrderId="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="VerifyModal" tabindex="-1" aria-labelledby="VerifyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VerifyModalLabel">Verified?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to verify this sales order?
            </div>
            <div class="modal-footer">
                <form id="verifyForm" method="post" action="/Purchaser/VerifyPO">
                    <input type="hidden" name="id" id="VerifyId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CanceilModal" tabindex="-1" aria-labelledby="CanceilModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CanceilModalLabel">Action Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this sales order?
            </div>
            <div class="modal-footer">
                <form id="actionForm" method="post" action="">
                    <input type="hidden" name="id" id="CanceilId" />
                    <button type="submit" class="btn btn-danger" formaction="/Salesman/CanceilSO">Cancel Order</button>
                    <button type="submit" class="btn btn-warning" formaction="/Salesman/DeliverSO">Deliver Order</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var VerifyModal = document.getElementById('VerifyModal');
        VerifyModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var deleteInput = document.getElementById('VerifyId');
            deleteInput.value = id;
        });

        var CanceilModal = document.getElementById('CanceilModal');
        CanceilModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var deleteInput = document.getElementById('CanceilId');
            deleteInput.value = id;
        });
    </script>
}